* {
    padding: 0; 
    font-size: small;
    font-family: Andalus;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
body {
	font: 11px Tahoma;
	background-color: #F7F7E9;
}
h1 {
    font: bold 32px Times;
	color: #666;
	text-align: center;
	padding: 20px 0;    
}
#container {
    width: 1000px;
    margin: 10px auto;
}

.mGrid { width: 100%; background-color: LightPink; margin: 5px 0 10px 50px; 
border: solid 1px #525252; border-collapse:collapse;
    font-size: x-small;
}
    /*.mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; }*/
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: Black; }
   .mGrid th { padding: 4px 2px; color: #fff; background: #7795BD url('/Images/menu_bg_red.gif') repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
.mGrid .alt { background: #fcfcfc url('/Images/grd_alt.png') repeat-x top; }
.mGrid .sel { background:#fcfcfc  url('/Images/selectedRow_Green.png') repeat-x top ; }
/*.mGrid .sel td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: red; line-height: 12px; }   
.mGrid .sel a { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: red; line-height: 12px; }   */
/*.mGrid .pgr {background: #424242 url('/Images/grd_pgr.png') repeat-x top; }*/
.mGrid .pgr {background: #7795BD url('/Images/menu_bg_red.gif') repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    
    .sortascheaderstyle{
    background-image: url(img/sort_asc.gif);     
    background-color: #8dbdd8;    
    background-repeat: no-repeat;
    background-position: center left;       
}
.sortdescheaderstyle{
    background-image: url(img/sort_desc.gif);     
    background-color: #8dbdd8;    
    background-repeat: no-repeat;
    background-position: center left;       
}   